@import "http://webfonts.ru/import/ubuntu.css";
/*
	Ubuntu, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic
*/

*{
	font-size: 1.03em;
	font-family: Ubuntu;
}

body{
	background-image: url("../pictures/body-bg/bg-4.jpg");
}

.fluid-container{
	margin-top: 50px;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

a.text-link{
	color: #FF3A00;
	text-decoration: none;
	transition: 0.2s;
	text-transform: uppercase;
}

a.text-link:hover{
	color: #7F82E8;
	text-decoration: none;
}

header{
	height: auto;
	background-image: url("../pictures/header-bg/bg-1.jpg");
	padding: 80px;
}

select:hover, input:hover{
	cursor: pointer;
}

input:active{
	cursor:text;
}

/*Стили для шапки сайта---Начало*/
.help-and-contact-container{
	height: auto;
}

.help-container, .contact-container{
	margin-top: 40px;
	background: #C0FFFA;
	border-radius: 30px;
	border: 1px solid black;
}

.help-container:hover, .contact-container:hover{
	background: #7FFFD0;
	cursor: pointer;

}

.logo-container{
	height: auto;
}

.logo-container img{
	width: 100%;
	height: auto;
	max-height: 250px;
	transition: 0.3s;
}
.logo-container img:hover{
	transform: translate(0px,5px);
}


.header-autorize-container, .header-user-info-container{
	margin-top: 10px;
	height: auto;
	border-radius: 10px;
	border: 1px solid black;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 5px;
	box-shadow:-1px 1px 10px rgba(0, 0, 0, 1.5);
	transition:box-shadow 0.2s ease; 
	background: #EEE;
	display: none;
}

.header-autorize-container:hover, .header-user-info-container:hover{
	box-shadow:0 0 transparent, inset 0 0 5px rgba(88, 88, 88, 0.9);
}


.header-user-info-container{
	border: 1px solid black;
	padding-right: 5px;
	text-transform: capitalize;
	display: none;
	position: relative;
}

.header-login-container{
	margin-top: 10px;
}

.label-container{
	height: auto;
}

.login-label *{
	padding-top: 10px;

}

.login-input *{
	margin-top: 10px;
}

.password-label *{
	padding-top: 10px;

}

.password-input *{
	margin-top: 5px;

}

.input-container{
	height: auto;
}

.submit-container .submit-button{
	font-size: 1.1em;
	margin-top: 5px;
}

.forgot-password-container{
	height: 10%;
	padding-top: 15px;
	bottom: 10px;
}

.forgot-container{
	height: auto;
	
}

input.autorize-login, input.autorize-password{
	font-size: 1.0em;
}

.preloader{
	position: fixed;
	left: 45%;
	top: 40%;
	z-index: 9;
	display: none;
}

/*Стили для шапки сайта --- конец*/

.container{
	margin-top: 40px;
}

.warning-container{
	margin-top: 20px;
	padding-top: 25px;
	font-size: 1.3em;
	border-radius: 10px;
	position: fixed;
	height: 70px;
	left: 20%;
	top: 35%;
	border: 1px solid black;
	display: none;
	z-index: 10;
	cursor: pointer;
}

/*Стили для страницы с просмотром шаблонов---Начало*/
.template-box-container{
	height: auto;
	max-height: 350px;
	background: #888;
	border: 1px solid black;
	border-radius: 10px;
	transition: 0.3s;
	overflow: hidden;
	margin-left: 10px;
	margin-top: 10px;
}

.template-box-container:hover{
	cursor: pointer;
	background: #E4FF2E;
}

.doc-gen-block{
	width: 100%;
}

.template-preview-container{
	height: auto;
	background: #999;
}

.template-info-container{
	height: auto;
	padding: 20px 15px 40px 15px;
	border-radius: 20px;
	border: 1px solid black;
	background:#FFFDEE;
	display: none;
}

.template-info-title-container{
	padding-bottom: 20px;

}

.template-download-and-data{
	padding-left: 20px;
	padding-right: 20px;
}

.template-info-data-container{
	border-radius: 10px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.template-info-download-container a{
	margin-top: 8%;
	height: 50px;
	padding-top: 10px;
	font-size: 1.3em;
}

.main-content-container{
	margin-top: 30px;
	max-height: 700px;
	overflow: auto;
}

.template-id{
	display: none;
}
.main-content-container pre{
	white-space: pre-wrap;
}

.template-info-nav{
	margin-top: 10px;
}

.template-content{
	min-height: 300px;
	border: 1px solid black;
	background: #aaa;
}

/*Стили для страницы с шаблонами --- Конец*/


/*Стили для страницы отображения адвокатов --- Начало*/
.lawyer-user-select{
	padding-top: 30px;
	min-height: 200px;
	font-size: 1.2em;
}

.selector {
	padding:0;
	margin-top: 10px;
	font-size: 1.4em;
}

.city-selector{
	display:none;
}

.informer{
	margin-top: 10px;
}

.lawyer-preview-container{
	font-size: 0.8em;
}

img.avatar{
	width: 100%;
	height: 100%;
	min-height: 150px;
}

img.template-image{
	width: 100%;
}

.photo-container .avatar{
	border-radius: 20px;
	min-height: 500px;
	max-width: 550px;
}

.download-icon{
	font-size: ;
}

.lawyer-container{
	transition: 0.3s;
	background: #E0FFD8;
	height: auto;
	min-height: 350px;
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 29%;
	margin-left: 25px;
	margin-right: 25px;
}

.lawyer-container:hover{
	cursor: pointer;
	background: #ABE0D2;
}

.avatar-container{
	height: 170px;
}

.name-container{
	margin-top: 20px;
	text-decoration: underline;
	text-align: center;
}

.skype-container, .full-skype-container {
	margin-top: 20px;
}

.email-container{
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.email-text, .email-icon{ 
	padding-top: 5px;
	padding-bottom: 5px;
}

.info-button{
	margin-top: 15px;
	margin-bottom: 5px;
}

.lawyer-full-info{
	height: auto;
	min-height: 500px;
	background: #999;
	margin-top: 50px;
	font-size: 1.2em;
	display: none;
}

.full-country-container{
	font-size: 1.5em;
	border-radius: 10px;
	text-shadow: 3px 0 0 black;/* Параметры тени */
	color: white;
}

.full-city-container{
	font-size: 1.5em;
	border-radius: 10px;
	text-shadow: 3px 0 0 black;/* Параметры тени */
	color: white;
}

.full-name-container{
	font-size: 2.0em;
	background: #907D8A;
	border-radius: 10px;
	text-shadow: 3px 0 0 black;/* Параметры тени */
	color: white;
}

.lawyer-contacts{
	padding-top: 20px;
	padding-left: 10px;
}

.lawyer-resume{
	margin-top: 20px;
	padding-top: 10px;
	min-height: 300px;
	max-height: 800px;
	background: yellow;
	margin-bottom: 10px;
	padding-bottom: 10px;
	overflow: auto;
}

.lawyer-resume pre{
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	max-height: 500px;
	font-size: 1.0em;
}

.full-skype-container, .full-email-container, .full-hangout-container{
	font-size: 1.2em;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

.full-skype-container{
	background: #DAF3D5;
}

.full-email-container{
	background: #D0EBEA;
}

.full-hangout-container{
	background: #F4E037;
}

/*Стили для страницы отображения адвокатов -- конец*/
/*Стили для формы регистрации - Начало*/
.registration-form{
	background: #DDD;
	padding-bottom: 30px;
	height: auto;
	border-radius: 10px;
	border: 1px solid black;
}

.registration{
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
}

.registration input, .registration button{
	width: 70%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	font-size: 1.2em;
}

/*Стили для формы регистрации --- Конец*/

div.fake-div{
	height: 220px;
}

/*Стили админ панели, начало*/

.admin-control-panel-container{
	height: 100px;
	background: #880;
}

.admin-placeholder-preview-container *{
	float: right;
}

.admin-controls-container{
	border-radius: 10px;
	border: 1px solid black;
	margin-left: 3%;
	background-image: url("../pictures/panel-bg.jpg");
}

.admin-controls-container .select-right-table-preview{
	color: #FBFF9E;
	text-shadow: 1px 1px 2px black; 
}

.admin-location-container{
	background-image: url("../pictures/panel-bg.jpg");
	border: 1px solid black;
	border-radius: 10px;
	margin-left: 3%;
}

.admin-location-container .add-form{
	border: 1px solid black;
	border-radius: 10px;
	display: none;
}

.admin-lawyer-info-container{
	border: 5px double black;
	padding-top: 20px;
	max-height: 700px;
	border-radius: 10px;
	background: #EEE;
	font-size: 0.9em;
	overflow:auto;
	display: none;
	position: fixed;
	left: 30%;
	top: 15%;
	z-index: 1;
	-webkit-box-shadow: 10px 10px 118px 70px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 118px 70px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 118px 70px rgba(0,0,0,0.75);
}

.admin-lawyer-info-avatar{
	max-width: 50%;
	max-height: 400px;
	color: #FF6D53;
	transition: 0.5s;
}

.admin-lawyer-info-avatar{
	max-height: 300px;
	cursor:pointer;
}

.admin-lawyer-info-avatar img{
	width: 100%;
	max-height: 300px;
}

.admin-lawyer-info-person{
	font-size: 1.5em;
}

.admin-lawyer-info-person *{
	margin-top: 10px;
}

.admin-lawyer-info-name{
	margin-top: 10%;
	font-size: 1.7em;
}

.add-lawyer-user-selector{
	text-transform: capitalize;
}

.lawyer-add-form .add-form-item{
	margin-top: 10px;
	font-size: 1.1em;
}

.admin-lawyer-info-resume pre{
	white-space: pre-wrap;
	word-wrap: break-word;
	max-height: 200px;
	font-size: 1.0em;
}
.admin-location-container .add-form-item
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
	height: 40px;
	display: none;
}

.admin-location-container .add-form-submit{
	height: 50px;
}

.admin-location-container .show
{
	margin-top: 30px;
}

.admin-controls{
	margin-top: 50px;
	margin-left: 50px;
}

.admin-lawyer-table-container{

}

.admin-templates-control{
	display: none;
}

.admin-users-control{
	display: none;
}

.admin-location-table-container{
	margin-top: 50px;
	margin-bottom: 30px;
}

.lawyers-table{
	margin-top: 30px;
}

.lawyer-add-form{
	display:none;
}

.add-form-submit{
	display: none;
}

.lawyer-city-selector{
	display: none;
	margin-top: 10px;
}

.location-table{
	border: 3px solid black;
	background: #FFF;
	overflow:auto;
}

.table thead tr td{
	background: #76CFFF;
	border: 1px solid #EEE;
	text-decoration: underline;
	height: 100px;
	padding-top: 30px;
	font-size: 1.3em;
}

.table{
	max-height: 400px;
	overflow:auto;
}

.table tbody tr:hover td{
	cursor: pointer;
	background: #E8F0FF;
}

.table td
{
	background: #EAFEFF;
}

.table-bottom-container{
	border: 0;
}

.call-lawyer-container *{
	margin-top: 50px;
	min-height: 50px; 
	font-size: 1.3em;
}

button.show-template{
	margin-top: 40px;
}

.admin-preview-container img{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 70%;
}

.admin-button-container *{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
}

.change-lawyer-info-container{
	width: 30%;
	background: #EEE;
	position: fixed;
	left: 35%;
	top: 25%;
	z-index: 2;
	padding: 15px;
	display: none;
	border-radius: 30px;
	border: 3px double black;
	-webkit-box-shadow: 10px 10px 42px 40px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 42px 40px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 42px 40px rgba(0,0,0,0.75);
}

.change-lawyer-info-container *{
	margin-top: 5px;
}

/*Стили админ панели, конец*/

/*Стили подвала начало*/

footer{
	margin-top: 100px;
	min-height: 70px;
	background: #A19FAE;
	font-size: 1.2em;
	text-align: center;
	transition: 0.3s;
}

footer:hover a{
	cursor: pointer;
	font-size: 1.4em;
}

footer a{
	color: #FAFF6F;
	transition: 0.3s;
}

.left-side{
	padding-top: 10px;
}
